<html ng-app="myApp">
<head>

</head>
<body>

<div ng-controller="MyControllerOne">
Controller 
<input type="text" name="name" ng-model="name" placeholder="Controller Name"></input>
<input type="text" name="age" ng-model="age" placeholder="Controller Age"></input>
<button type="button" value="Click" ng-click="clickPressed()">Click</button>
<br><br>
<hr>
 Directive 
	<my-first-directive dir-name="{{name}}" age="age"></my-first-directive>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="app.js"></script>
<script src="sample.service.js"></script>
</body>
</html>

